<div class="home-container">
  <div class="container-main">
    <h1 class="text">HI</h1>
    <h2 class="Text1">Hillarys</h2>
  </div>
  <div class="container-secondary">
    <img src="../../../../assets/img/home3.png" alt="Logo" class="Logo">
  </div>
</div>

<nav class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active">
    <i class="fas fa-home"></i>
  </a>
  <a routerLink="/appointments" routerLinkActive="active">
    <i class="fas fa-calendar"></i>
  </a>
  <a routerLink="/messages" routerLinkActive="active">
    <i class="fas fa-comment"></i>
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <i class="fas fa-user"></i>
  </a>
</nav>