<div class="container">
  <i routerLink="/dashboard/home" class="bi bi-chevron-left icono"></i>
  <div class="username">
    <img src="../assets/img/user.png" alt="Logo" class="Logo">
    <h1 class="text">User Name</h1>
  </div>
  <h1  class="text1">Usergmail.com</h1>

  <div class="card">
    <span class="card-header"><i class="bi bi-calendar-date"></i>Dates</span>
    <span class="card-header"><i class="bi bi-heart-fill"></i>Favorite</span>
    <span class="card-header"><i class="bi bi-credit-card"></i>Payment</span>
  </div>
  <div>
    <div class="card">
      <span class="card-header"><i class="bi bi-gear-fill"></i>Setting</span>
      <span class="card-header"><i class="bi bi-person-fill"></i>Support</span>
      <span class="card-header colorText"(click)="logout()"><i class="bi bi-person-fill-slash"></i>Log Out</span>
    </div>
  </div>
</div>

