<div class="container">
  <div class="username">
    <h1>User Name</h1>
    <h1>User@gmail.com</h1>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <Calendar className="h-5 w-5 mr-3 text-primary" />
      <span>My Appointments</span>
      <ChevronRight className="h-5 w-5 ml-auto" />
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
  <div>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Featured
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
</div>
