<div class="login-container">
    <div class="login-card">
      <div class="auth-tabs">
        <button class="tab active">Login</button>
        <button class="tab" (click)="goToRegister()">Sign-up</button>
      </div>
  
      <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <input
            type="name"
            formControlName="name"
            placeholder="name"
            class="form-input"
          >
        </div>
  
        <div class="form-group">
          <input
            type="email"
            formControlName="email"
            placeholder="email"
            class="form-input"
          >
        </div>

        <div class="form-group">
            <input
              type="password"
              formControlName="password"
              placeholder="password"
              class="form-input"
            >
        </div>
  
        <a href="#" class="forgot-password">start Section</a>
  
        <button
          type="submit"
          class="login-button"
          [disabled]="RegisterForm.invalid || loading"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
  