<p>categoarias works!</p>
<div class="categories-container">
    <h2 class="categories-title">Categories</h2>
    
    <div class="categories-grid">
      <div *ngFor="let category of categories" 
           class="category-card" 
           (click)="selectCategory(category.id)">
        <div class="category-image-container">
          <img [src]="category.image" [alt]="category.name" class="category-image">
          <div class="category-overlay"></div>
          <h3 class="category-name">{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  
  