<div class="app-container">
  <!-- Navbar solo se muestra si el usuario está autenticado -->
  <nav class="navbar" *ngIf="isLoggedIn">
    <div class="nav-brand">
      <img src="../assets/img/logoHome.png" alt="Logo" class="Logo">
      <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-justify"></i></button>

    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="nav-links">
          <a routerLink="/dashboard" routerLinkActive="active">Home</a>
          <a routerLink="/dashboard/appointments" routerLinkActive="active">Appointments</a>
          <a routerLink="/dashboard/profile" routerLinkActive="active">Profile</a>
          <a routerLink="/dashboard/settings" routerLinkActive="active">Settings</a>
          <div class="butoon">
            <button (click)="logout()" class="logout-btn">Logout <i class="bi bi-person-dash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Contenedor principal para el router-outlet -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
