.hero-3d {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background:
    radial-gradient(circle at center, #ff0000 0%, #0a0a0a 70%);
}

/* Canvas Three.js */
.hero-3d canvas {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
}fig

/* Texto encima del 3D */
.overlay {
  position: relative;
  z-index: 5;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: rgb(116, 18, 18);

  padding: 20px;
}

/* Imagen del anillo */
.overlay img {
  width: 320px;
  max-width: 90%;

  margin: 30px 0;

  object-fit: contain;

  filter:
    drop-shadow(0 0 25px rgb(255, 0, 0));

  animation: floatRing 5s ease-in-out infinite;
}

/* Botón */
.cta {
  background: #ffc505;
  color: #0a0a0a;

  border: none;
  padding: 14px 32px;

  font-size: 1rem;
  letter-spacing: 1px;

  cursor: pointer;
  transition: 0.3s ease;
}

.cta:hover {
  transform: translateY(-3px);
  background: white;
}

/* Animación flotante */
@keyframes floatRing {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-12px) rotate(4deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }

}